apiVersion: s3.services.k8s.aws/v1alpha1
kind: Bucket
metadata:
  name: ${BUCKET_NAME}
  annotations:
    services.k8s.aws/adoption-policy: "adopt"
    services.k8s.aws/adoption-fields: |
      {"name": "${BUCKET_NAME}"}
spec:
  name: ${BUCKET_NAME}
