apiVersion: s3.services.k8s.aws/v1alpha1
kind: Bucket
metadata:
  name: ${BUCKET_NAME}
  annotations:
    services.k8s.aws/adoption-policy: "adopt-or-create"
spec:
  name: ${BUCKET_NAME}
  versioning:
    status: Enabled
  tagging:
    tagSet:
      - key: Purpose
        value: ack-adoption-demo
      - key: ManagedBy
        value: ${MANAGED_BY}
